.container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

body {
  background-color: #ee4c83;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
}

a {
  color: #F8BBD0;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.1s ease;
}

a:hover, a:focus {
  color: #C2185B;
  text-decoration: underline;
}

.quote-container {
  width: 100%;
  margin: 0 auto 23.72881%;
  padding: 6.77966% 0;
}

@media screen and (min-width: 1110px) {
  .quote-container {
    width: 66.10169%;
    padding: 6.77966%;
  }
}

.quote-container blockquote {
  margin-bottom: 6.77966%;
  font-family: 'Neuton', serif;
  line-height: 1.3;
}

.quote-container .quote-text, .quote-container .quote-author {
  font-size: 200%;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-shadow: -1px 0 3px #c2185b;
}

@media screen and (min-width: 480px) {
  .quote-container .quote-text, .quote-container .quote-author {
    font-size: 250%;
  }
}
h1{
  text-align: center;
   font-size: 300%;
}

.quote-container .quote-author {
  text-align: right;
  font-size: 125%;
}

@media screen and (min-width: 480px) {
  .quote-container .quote-author {
    font-size: 175%;
  }
}

.button-container {
  display: block;
  text-align: center;
  margin-top: 15.25424%;
}

.button {
  padding: 1em;
  width: 49.15254%;
  border: none;
  border-radius: 0.5em;
  background-color: #C2185B;
  font-size: 130%;
  transition: all 0.2s ease-in-out;
}

.button:hover, .button:focus {
  background-color: #951246;
  color: #F8BBD0;
}

.twitter-share-button {
  display: block;
  margin: 1em auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #ee4c83;
  text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width:350px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color:black;
  /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
